/*
Author: Moses Mangunrahardja
Lab 4 CS 336
HTML & CSS 
*/

strong {
	color: red; 
	font: 200% serif;
}

p {
	color: blue; 
	text-decoration:
}

strong { 
	color: red; 
}
p:before{
	content: url("Yellow-pin.png");
}

.carrot { 
	color: orange; 
}

.spinach { 
	color: green; 
}

#first { 
	font-style: italic; }

body {
font: 16px "helvetica", cursive;
background: url("Blue-rule.png");
}

ol.info{
	list-style: lower-roman;
	border: 10px solid lightblue;
  	width:  100px;
}


h1.h{

	font: 24px "helvetica", cursive;
	font-weight: bold;
	clear:left;
}

/*CSS to create counter for Numbered paragraph */
p.numbered {
	counter-reset: mynum;
	color: black; 
}
 
p.numbered:before {
  content: counter(mynum) ": ";
  counter-increment: mynum;
  font-weight: bold;
}

/* numbered headings */
body {
	counter-reset: headnum;
}

p.numbered:before {
  content: "(" counter(headnum, upper-latin) ") ";
  counter-increment: headnum;
}


li {
  list-style: lower-roman;
  margin-bottom: 8px;
  }

ul, #numbered {
 	border: 10px solid lightblue;
  	width:  100px;
}

#fixed-pin  {
  position:fixed;
  top: 3px;
  right: 3px;
}


/* CSS For Table */
#demo-table {
  font: 100% sans-serif;
  background-color: #efe;
  border-collapse: collapse;
  empty-cells: show;
  border: 1px solid #7a7;
}

#demo-table > caption {
  text-align: left;
  font-weight: bold;
  font-size: 200%;
  border-bottom: .2em solid #4ca;
  margin-bottom: .5em;
}


/* basic shared rules */
#demo-table th,
#demo-table td {
  text-align: right;
  padding-right: .5em;
}

#demo-table th {
  font-weight: bold;
  padding-left: .5em;
}


/* header */
#demo-table > thead > tr:first-child > th {
  text-align: center;
  color: blue;
}

#demo-table > thead > tr + tr > th {
  font-style: italic;
  color: gray;
}

/* fix size of superscript */
#demo-table sup {
  font-size: 75%;
}

/* body */
#demo-table td {
  background-color: #cef;
  padding:.5em .5em .5em 3em;
}

#demo-table tbody th:after {
  content: ":";
}


/* footer */
#demo-table tfoot {
  font-weight: bold;
}

#demo-table tfoot th {
  color: blue;
}

#demo-table tfoot th:after {
  content: ":";
}

#demo-table > tfoot td {
  background-color: #cee;
}

#demo-table > tfoot > tr:first-child td {
  border-top: .2em solid #7a7;
}

#demo-table tbody td {
	border: 1px solid #7a7;
}

#demo-table caption{
	caption-side: bottom;
	font-size: 16px;
	text-align: right;
}