/*
Author: Moses Mangunrahardja
Lab 5 CS 336
CSS Flexible Box 
*/
/*List of variables*/
/*Start formatting */
body {
  font: "Helvetica", 24px;
  background: #999;
}
#main {
  min-height: 800px;
  margin: 0px;
  padding: 0px;
  display: flex;
  Flex-flow: row;
}
#main article {
  margin: 0px;
  padding: 7px;
  border: 2px solid #cc3;
  border-radius: 0pt;
  background: #dd8;
  flex: 3 1 60%;
  order: 2;
}
/*text align edited here to make it aligned on the right when screen is wide*/
nav {
  margin: 0px;
  padding: 7px;
  border: 1px solid #88b;
  border-radius: 0pt;
  background: #ccf;
  flex: 1 6 20%;
  order: 1;
  text-align: right;
}
aside {
  margin: 0px;
  padding: 7px;
  border: 1px solid #88b;
  border-radius: 0pt;
  background: #ccf;
  flex: 1 6 20%;
  order: 3;
}
header {
  font: 30px Helvetica;
}
header,
footer {
  font-style: bold;
  display: block;
  margin: 0px;
  padding: 7px;
  min-height: 50px;
  border: 1px solid #eb5;
  border-radius: 0pt;
  background: #feb;
}
/* Too narrow to support three columns */
/*Variables edited here affects the display when small screen is used*/
@media all and (max-width: 640px) {
  #main,
  #page {
    flex-direction: column;
  }
  #main > article,
  #main > nav,
  #main > aside {
    order: 0;
  }
  #main > nav,
  #main > aside,
  header,
  footer {
    text-align: left;
    min-height: 50px;
    max-height: 75px;
  }
}
